.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-page {
  width: 1126px;
  max-width: 100%;
  padding: 24px;
  margin: 0 auto;
  animation: storeFadeIn 5s ease forwards;
  flex-grow: 1;
}

.card-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

.form-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.notification {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  background-color: white;
  color: black;
  padding: 14px 28px;
  border-radius: 30px;

  border: 1px solid #648ef8;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.02);

  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.02em;

  animation: slideDown 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@keyframes storeFadeIn {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 24px;
    opacity: 1;
  }
}
