.cart-card {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 20px;

  background-color: white;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 10px 30px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  min-width: 620px;
  padding: 21px;
  margin-bottom: 20px;

  p {
    margin: 0;
  }
}

.cart-img {
  object-fit: cover;
  border-radius: 15px;
  max-height: 150px;
}

.not-found-cart {
  min-height: 70px;
}

.cart-descr {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h2 {
    margin: 0;
  }
}

.cart-rating {
  display: flex;
  align-items: center;

  p {
    font-weight: 700;
  }
}

.cart-buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    background-color: #648ef8;
    color: white;
    border-style: none;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.cart-price {
  font-weight: bold;
  min-width: 80px;
}
.cart-brand {
  font-size: 14px;
  color: #888888;
  font-weight: 500;
  text-transform: lowercase;
  text-align: left;
}

.cart-category {
  font-size: 13px;
  color: #b5b5b5;
  font-weight: 400;
  text-transform: lowercase;
  text-align: left;
}
