footer {
  margin-top: 113px;
  background-color: #edf6ff;
}

.footer-logo {
  width: 120px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.social-medias {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-medias img {
  width: 30px;
  transition: transform 0.15s ease;
}

.social-medias img:hover {
  transform: scale(1.5);
}

.footer-links {
  margin: 15px 30px;
  display: flex;
  justify-content: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.2s ease;
  }

  a:hover {
    color: #648ef8;
  }
}
