.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;

  animation: fadeOut 1.8s ease forwards;
}

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;

  img {
    width: 500px;
  }

  p {
    letter-spacing: 0.15em;
    font-style: italic;
    margin-top: 10px;
    font-size: 40px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
