header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;

  height: 200px;
  padding: 0 50px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: #f8f9fa;

  animation: storeFadeIn 0.5s ease forwards;
}
.header-links {
  display: flex;
  gap: 40px;
}

.header-links a {
  text-decoration: none;
  color: #111111;
  cursor: pointer;
  transition: color 0.2s ease;
}

.header-links a:hover {
  color: #648ef8;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-svg {
  color: #111111;
  transition: color 0.3s ease;
}

.logo-svg:hover {
  color: #648ef8;
}

.slogan {
  margin: 8px 0 0;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-align: center;
  font-style: italic;
}

.user-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-self: end;
}

.search-input {
  height: 32px;
  width: 263px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
}

.search-input::placeholder {
  font-style: italic;
  color: rgba(210, 210, 210, 54%);
}

.user-button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  transition: transform 0.3s;
}

.user-button:hover {
  transform: scale(1.1);
}

@keyframes storeFadeIn {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
}
